{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete "{{object.title}}" </h2>
             </fieldset>
            <button type="submit" class="btn btn-outline-danger">yes, Delete</button>
             <a href=" {% url 'blog-detail' object.pk %}" class="btn btn-outline-secondary">Cancel</a>
        </form>
        <div class="form-group">
            <span class="text-muted">Already have an Account
                <a href="{% url 'login' %}">Login</a>
            </span>
        </div>
    </div>
{% endblock content %}
    